## Intro to Python Programming

In [1]:
print('hello world')

hello world

In [2]:
print('today is monday')
print('1st python class')

today is monday
1st python class

In [3]:
import sys

In [4]:
print(sys.version_info)

sys.version_info(major=3, minor=8, micro=1, releaselevel='final', serial=0)

In [5]:
print(sys.version)

3.8.1 (default, Mar  2 2020, 13:06:26) [MSC v.1916 64 bit (AMD64)]

In [6]:
print(5+2)

7

In [7]:
print(5*7)

35

In [8]:
my_variable = 'this is my first variable'

In [9]:
print(my_variable)

this is my first variable

In [10]:
type(my_variable)

str

In [11]:
a = 2

In [12]:
type(a)

int

In [14]:
hello = 'hello Grace'

In [15]:
print(hello)

hello Grace

In [16]:
print('hello Grace')

hello Grace

In [18]:
bye = 'good bye'

In [19]:
print(bye)

good bye

In [25]:
phil = 'Phil has to eat something'

In [26]:
print(phil)

Phil has to eat something

In [32]:
phil = 'Phil actually ate something...'

In [33]:
print(phil)

Phil actually ate something...

In [34]:
type(phil)

str

In [35]:
phil = 21

In [36]:
print(phil)

21

In [37]:
type(phil)

int

In [39]:
first_name = 'Phil'

In [40]:
first-name = 'Phil'

SyntaxError: cannot assign to operator (<ipython-input-40-45c7a9a56a44>, line 1)

In [41]:
first_name01 = 'Phil'

In [42]:
first_name_01 = 'Phil'

In [43]:
1fname = 'phil'

SyntaxError: invalid syntax (<ipython-input-43-aac4fd52f33b>, line 1)

In [44]:
first name = 'Phil'

SyntaxError: invalid syntax (<ipython-input-44-d71fa113866d>, line 1)

In [45]:
# this variable is holding first name
first_name = 'Phil'

In [48]:
greeting = 'hello there!'

In [49]:
print(greeting)

hello there!

In [50]:
my_string_example = 'blablablah..........'

In [51]:
print(my_string_example)

blablablah..........

In [53]:
single_quote_ex = 'this is fun'

In [54]:
print(single_quote_ex)

this is fun

In [57]:
dbl_quote_ex = "this is fun double quote"

In [58]:
print(dbl_quote_ex)

this is fun double quote

In [59]:
print('this is "Fun"')

this is "Fun"

In [60]:
phil

21

### String manipulation

In [61]:
phil = 'already ate, ready to sleep'

In [63]:
phil.capitalize()

'Already ate, ready to sleep'

In [64]:
phil.upper()

'ALREADY ATE, READY TO SLEEP'

In [65]:
phil.lower()

'already ate, ready to sleep'

In [69]:
phil.upper()

'ALREADY ATE, READY TO SLEEP'

### String concatenation

In [70]:
first_name = 'Phil'

In [71]:
person_info = 'already ate, ready to sleep'

In [72]:
complete_info = first_name + person_info

In [73]:
print(complete_info)

Philalready ate, ready to sleep

In [74]:
complete_info_1 = first_name + ' ' + person_info

In [75]:
print(complete_info_1)

Phil already ate, ready to sleep

In [76]:
print('Today is Wed, 2nd Python class')

Today is Wed, 2nd Python class

In [77]:
print('Today is Wed,\t 2nd Python class')

Today is Wed,	 2nd Python class

In [80]:
print('Today is Wed,\n 2nd Python class')

Today is Wed,
 2nd Python class

In [81]:
extra_space_example = 'July 4th is coming        '

In [84]:
extra_space_example

'July 4th is coming        '

In [82]:
print(extra_space_example)

July 4th is coming

In [85]:
ex_rstrip = extra_space_example.rstrip()

In [86]:
ex_rstrip

'July 4th is coming'

In [87]:
extra_space_example_both_side = '          July 4th is coming        '

In [88]:
extra_space_example_both_side

'          July 4th is coming        '

In [89]:
extra_space_example_both_side.rstrip()

'          July 4th is coming'

In [90]:
extra_space_example_both_side.lstrip()

'July 4th is coming        '

In [91]:
extra_space_example_both_side.strip()

'July 4th is coming'

In [96]:
name_length = len(first_name)

In [97]:
print(name_length)

4

In [98]:
print(len(complete_info))

31

In [99]:
2+5

7

In [100]:
10/3

3.3333333333333335

In [101]:
type(2+5)

int

In [102]:
type(10/3)

float

In [103]:
complete_info_2 = first_name + ' ' + person_info + 'he is 25'

In [104]:
print(complete_info_2)

Phil already ate, ready to sleephe is 25

In [106]:
complete_info_2 = first_name + ' ' + person_info + 'he is' + 25

TypeError: can only concatenate str (not "int") to str

In [109]:
complete_info_2 = first_name + ' ' + person_info + 'he is ' + str(25)

In [110]:
print(complete_info_2)

Phil already ate, ready to sleephe is 25

In [111]:
first_name = 'John'

In [112]:
last_name ='Doe'

In [113]:
email = '@gmail.com'

In [114]:
email_id = first_name+last_name+email

In [115]:
print(email_id)

JohnDoe@gmail.com